<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header">
<title id="pageTitle">500</title>
</head>
<body id="page-top">
	<!-- Navigation-->
	<nav
		class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top"
		id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" th:href="@{/login}">GESTION
				SCOLAIRE</a>
			<button
				class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
				type="button" data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				Menu <i class="fas fa-bars"></i>
			</button>

		</div>
	</nav>
	<!-- Masthead-->
	<header class="masthead text-center">
		<section class="page-section" id="contact">
			<div class="container">
				<br>

				<div class="alert alert-danger" role="alert"
					th:if="${error != null}" th:utext="${error}"></div>

				<!-- Contact Section Heading-->
				<h2
					class="page-section-heading text-center text-uppercase text-secondary mb-0">Une
					erreur est survenue au niveau du serveur</h2>
				<!-- Icon Divider-->
				<div class="divider-custom">
					<div class="divider-custom-line"></div>
					<div class="divider-custom-icon">
						<i class="fas fa-star"></i>
					</div>
					<div class="divider-custom-line"></div>
				</div>
				<h3
					class="page-section-heading text-center text-uppercase text-secondary mb-0">
					<a th:href="@{/home}"> <i class="fas fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;Retour
						à l'accueil
					</a>
				</h3>
			</div>
		</section>
	</header>
	<!-- Footer-->
	<footer th:replace="footer"> </footer>
</body>
</html>