<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org ">
<head th:replace="header">
<title id="pageTitle">Voir étudiant</title>
</head>
<body>
	<!-- Navigation-->
	<div th:insert="menuhaut"></div>

	<!-- Masthead-->
	<section class="page-section home" id="home">
		<!-- Content -->
		<div class="container ">
			<br>
			
			<div th:insert="message"></div>

			<!-- Masthead Heading-->
			<h1>Informations de l'étudiant</h1>

			<br> <br>
			<div class="row justify-content-md-center">
				<div class="col-8">
					<div class="card">
						<div class="form-row">
							<div style="padding: 20px" class="col-6">
								<label style="font-weight: bold"> <i
									style="color: #1ABC9C" class="fas fa-user-circle"></i> Prénom
								</label><br th:utext="${student.getFirstName()}"> <br /> <br /> <label
									style="font-weight: bold"> <i style="color: #1ABC9C"
									class="fas fa-home"></i> Adresse
								</label><br th:utext="${student.getAddress()}"> <br /> <br /> <label
									style="font-weight: bold"> <i style="color: #1ABC9C"
									class="fas fa-at"></i> E-mail
								</label><br th:utext="${student.getMail()}">
							</div>
							<div style="padding: 20px" class="col-6">
								<label style="font-weight: bold"> <i
									style="color: #1ABC9C" class="fas fa-user-circle"></i> Nom
								</label><br th:utext="${student.getLastName()}"> <br /> <br /> <label
									style="font-weight: bold"> <i style="color: #1ABC9C"
									class="fas fa-phone-alt"></i> Téléphone
								</label><br th:utext="${student.getPhone()}"> <br /> <br /> <label
									style="font-weight: bold"> <i style="color: #1ABC9C"
									class="fas fa-birthday-cake"></i> Date de naissance
								</label><br
									th:utext="${#calendars.format(student.getDob(), 'd MMMM yyyy')}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- footer -->
	<div th:insert="footer"></div>
</body>
</html>